<!DOCTYPE HTML>
<html>
    <head>
        <title>TADS Atividade Desenvolvimento Web 2021-2</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="col-12">
            <div class="container">
                <h1>Listagem de Pessoas </h1>
                <div th:if="${msgSucesso != null}" th:text="${msgSucesso}" class="alert alert-success" role="alert"></div>
                <div class="table-responsive" th:if="${not #lists.isEmpty(listaPessoas)}">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Data Nascimento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="pessoa : ${listaPessoas}">
                                <td th:text="${pessoa.nome}"></td>
                                <td th:text="${pessoa.email}"></td>
                                <td th:text="${pessoa.dataNascimento}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <section th:if="${#lists.isEmpty(listaPessoas)}">
                    <h3>Nenhuma Pessoa Cadastrada</h3>
                </section>
                <a th:href="@{/pessoa/cadastrar-pessoa}" class="btn btn-outline-success">
                    Adicionar Pessoa
                </a>
            </div>
        </div>
    </body>
</html>